<form class="form-horizontal" ng-submit="submitContact()">
    <fieldset>
        <legend></legend>
    <div class="form-group">
        <label class="col-md-4 control-label" for="firstName">First Name</label>
        <div class="col-md-4">
            <input id="firstName" name="firstName" ng-model="Contact.firstName" placeholder="Enter First Name" class="form-control input-md" type="text" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label" for="lastName">Last Name</label>
        <div class="col-md-4">
            <input id="lastName" name="lastName" ng-model="Contact.lastName" placeholder="Enter Last Name" class="form-control input-md" required type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label" for="age">Age</label>
        <div class="col-md-4">
            <input id="age" name="age" placeholder="Enter Age" ng-model="Contact.age" numbers-only maxlength="2" class=" form-control input-md" type="text" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label" for="phoneNumber">Telephone</label>
        <div class="col-md-4">
            <input id="phoneNumber" name="phoneNumber" placeholder="Enter Phone Number" ng-model="Contact.phoneNumber" ui-mask="(999) 999-9999" ui-mask-placeholder class="form-control input-md" type="text" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label" for="Send"></label>
        <div class="col-md-4">
            <button id="Send" type="submit" name="Send" class="btn btn-info">Save</button>
        </div>
    </div>
    </fieldset>
</form>